extends layout

block content
  div.container(ng-show="mode === 'login'")
    header.global-header
      h1= title
      p Welcome to #{title}
    ul.social-logins
      li.btn.btn-login-with-tw(ng-click="goLogin()") Twitterでログイン
      li.btn.btn-login-with-gp(ng-click="goLogin()") Google+でログイン
      li.btn.btn-login-with-fb(ng-click="goLogin()") Facebookでログイン

  div.container(ng-show="mode === 'start'")
    dl.user-input
      dt.user-input-label ユーザー名
      dd
        input(type="text")
      dt.user-input-label 現在の体重
      dd.weight-output(ng-show="weightUseRange")
        span.weight-value 65.0
        span.weight-unit kg
        span.weight-kbd-input(ng-click="changeStartInput('w')")
          i.icon-dial
      dd(ng-show="weightUseRange")
        input(type="range")
      dd(ng-show="!weightUseRange")
        input(type="number")

      dt.user-input-label 目標の体重
      dd.weight-output(ng-show="hopeUseRange")
        span.weight-value 65.0
        span.weight-unit kg
        span.weight-kbd-input(ng-click="changeStartInput('h')")
          i.icon-dial
      dd(ng-show="hopeUseRange")
        input(type="range")
      dd(ng-show="!hopeUseRange")
        input(type="number")

    p
      button.btn.btn-primary.btn-block(ng-click="goStart()") はじめる


  nav.navbar(ng-show="mode === 'myhome'")
    p.navbar-item.navbar-show-menu menu
  div.container(ng-show="mode === 'myhome'")
    div.weight-graph グラフ
    div(ng-show="!inputed")
      dl.user-input
        dt.user-input-label 本日の体重
        dd.weight-output(ng-show="weightUseRange")
          span.weight-value 65.0
          span.weight-unit kg
          span.weight-kbd-input(ng-click="changeStartInput('w')")
            i.icon-dial
        dd(ng-show="weightUseRange")
          input(type="range" ng-change="showWeightConfirm()" ng-model="val")
        dd(ng-show="!weightUseRange")
          input(type="number" ng-change="showWeightConfirm()" ng-model="val")

      p(ng-show="weightConfirm")
        button.btn.btn-primary.btn-block(ng-click="postWeight()") 記録する

    div.container(ng-show="inputed")
      dl.user-input
        dt.user-input-label 本日の体重
        dd.weight-output
          span.weight-value 65.0
          span.weight-unit kg
          span.weight-kbd-input(ng-click="changeStartInput('w')")
            i.icon-pencil
        dd
          span.alert.alert-success -0.4Kg

    p.text-center
      button.btn.btn-link.btn-sm(ng-click="goListInput()") まとめて入力する

  include includes/footer


