
html {
	font-size: 10px;
}
body {
	font-size: 1.8rem;
}

input {
	-webkit-appearance: none;

	&[type=text],
	&[type=password],
	&[type=number] {
		line-height: 1;
		padding: 0.25em 0.5em;
		border: 1px solid $gray-light;
		border-radius: 2px;
		font-size: 2.4rem;
	}
}

$buttonDimension: 32px;
input[type='range'] {
	$sliderGutter: 8px;
	
	-webkit-appearance: none;
	vertical-align: middle;
	height: $sliderGutter;
	margin: $buttonDimension 0;
	border-radius: $sliderGutter / 2;
	background-color: #999;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	height: $buttonDimension;
	width: $buttonDimension;
	border: 1px solid #999;
	box-shadow: 0 2 0 rgba( #000, 0.1 );
	border-radius: 50%;
	background-color: #FFF;
}