//- 
nav.navbar
  p.navbar-item.navbar-go-home(ng-click="goStart()" ng-show="mode === 'setting' || mode === 'listInput'") 戻る
  p.navbar-item.navbar-show-menu(ng-click="goSetting()" ng-show="mode === 'myhome'") menu